/*Top navigation bar styling*/

#nav-bar {
    position: fixed;
    top: 0;
    height: 80px;
    width: 100%;
    background-color: #00a087;
    color: #e8fdff;

    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0px;
    padding-bottom: 0px;
}

#nav-bar .logo {
  float: left;
  height: 80px;
  width: 80px;
}

#nav-bar .header {
  float: left;
  font-size: 2em;
  padding-left: 10px;
  line-height: 80px;
}

/* area where compose button is in (top right corner) */
#nav-bar .compose-toggle {
  float: right;
  height: 100%;
  margin-right: 12%;
}

/*compose button */
#nav-bar .compose-button {
  text-align: center;
  background-color: #e5eaec;
  width: 200%;
  height: 75%;
  font-size: 1em;
  font-weight: lighter;
  color: #00a087;

  border: black;
  border-style: groove;
  border-width: thin;
  border-radius: 5px;

  margin-top: 10px;
  padding-top: 20px;

  cursor: pointer;
}

/*compose button text*/
#nav-bar .compose-button .button-text {
  height: 100%;
  width: 100%
}

/*compose button hover state*/
#nav-bar .compose-button:hover {
  color: black;
  background-color: white;
}









